.navbar-custom {
    background-color: #4862b0;
}
.navbar-custom .nav-link {
    color: white;
}
.navbar-custom .nav-link:hover {
    color: #fff;
    background-color: #5a6ebf;
}
.navbar-nav {
    align-items: center; /* Vertical alignment */
}

.dropdown-menu {
    display: none;
    top: 100%;
    left: 0;
    padding: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px;
    max-width: 100px;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu li a:hover {
    background-color: #ddd;
}
