<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="net.therap"/>
    <mvc:annotation-driven/>
    <aop:aspectj-autoproxy/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/customer/*/edit"/>
            <mvc:mapping path="/customer/*/bookingList"/>
            <bean id="customerAuthInterceptor" class="net.therap.interceptor.authInterceptor.CustomerAuthInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/booking/*/addReview"/>
            <bean id="addReviewInterceptor" class="net.therap.interceptor.AddReviewInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/customer/*"/>
            <mvc:exclude-mapping path="/customer/login"/>
            <mvc:exclude-mapping path="/customer/signup/**"/>
            <bean id="customerDetailsInterceptor" class="net.therap.interceptor.CustomerDetailsInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/customer/login"/>
            <mvc:mapping path="/customer/signup"/>
            <mvc:mapping path="/customer/signup/*"/>
            <mvc:mapping path="/hotel/signup"/>
            <mvc:mapping path="/hotel/signup/*"/>
            <mvc:mapping path="/hotel/login"/>
            <bean id="nonUserInterceptor" class="net.therap.interceptor.NonUserInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/hotel/*/addRoom"/>
            <mvc:mapping path="/hotel/*/addRoom/roomImageUpload"/>
            <mvc:mapping path="/hotel/*/bookingList"/>
            <mvc:mapping path="/hotel/*/edit"/>
            <bean id="hotelAuthInterceptor" class="net.therap.interceptor.authInterceptor.HotelAuthInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/room/*/book"/>
            <mvc:mapping path="/room/*/book/guestImageUpload"/>
            <bean id="roomBookInterceptor" class="net.therap.interceptor.RoomBookInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/room/*/edit"/>
            <bean id="roomAuthInterceptor" class="net.therap.interceptor.authInterceptor.RoomAuthInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/customer/**"/>
            <mvc:exclude-mapping path="/customer/login"/>
            <mvc:exclude-mapping path="/customer/signup/**"/>
            <bean id="validCustomerCheckerInterceptor"
                  class="net.therap.interceptor.validUrlChecker.ValidCustomerCheckerInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/hotel/**"/>
            <mvc:exclude-mapping path="/hotel/login"/>
            <mvc:exclude-mapping path="/hotel/signup/**"/>
            <bean id="validHotelCheckerInterceptor"
                  class="net.therap.interceptor.validUrlChecker.ValidHotelCheckerInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/room/**"/>
            <bean id="validRoomCheckerInterceptor"
                  class="net.therap.interceptor.validUrlChecker.ValidRoomCheckerInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
                <property name="paramName" value="language"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="my-persistence-unit"/>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/> <!-- Specify the maximum file size in bytes -->
    </bean>
    <bean id="simpleMappingExceptionResolver"
          class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error"/>
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">error</prop>
            </props>
        </property>
    </bean>
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <constructor-arg value="11"/>
    </bean>
    <mvc:annotation-driven validator="validator"/>
    <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" primary="true">
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="en"/>
    </bean>
    <tx:annotation-driven/>
    <util:properties id="facilityOptions" location="classpath:../facilityOptions.properties"/>
    <util:properties id="roomTypeOptions" location="classpath:../roomTypeOptions.properties"/>
</beans>